@import url('https://fonts.googleapis.com/css?family=Montserrat');

.column-left{
  float: left;
  width: 64%;
  text-align: left;
  word-wrap: break-word;
}

.column-space{
  float: left;
  width: 1%;
  text-align: left;
  word-wrap: break-word;
}

.column-right{
  float: right;
  width: 35%;
  text-align: left;
  word-wrap: break-word;
}

.callout {
  color: #555;
  font-weight: bold;
  font-size: 120%;
  letter-spacing: 0.05em
}

.header {
  float: left;
  width: 100%;
  text-align: left;
  color: #eee;
  font-size: 120%;
  font-weight: bold;
  background-color: #555;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  line-height:11px;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

hr {
  background-color: #ffffff;
  margin-top: 7px;
  margin-bottom: 7px;
  border: .3px dotted #4c4c4d;
}

.footer {
  text-align: center;
  font-size: 80%;
  font-weight: lighter;
}


h3 {
  text-align: left;
  color: #555;
  font-size: 150%;
  font-weight: bold;
  background-color: #eee;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 5px;
  letter-spacing: 0.06em;
}

th, td {
  padding: 7px;
}

body {
  text-align: left;
  color: #555;
  font-family: 'Montserrat', 'Arial';
  font-size: 110%;
  letter-spacing: 0.05em;
  line-height:18px;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: inherit;
}